<h2>Reactives: <small> Dynamics </small></h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Person's name"
        formControlName="name"
      />
      <span class="form-text text-danger" *ngIf="isValidField('name')">
        {{ getFieldError("name") }}
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Add</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" placeholder="Add favorite" />

        <button class="btn btn-outline-primary" type="button">
          Add favorite
        </button>
      </div>
    </div>
  </div>

  <!-- Favorites Games List -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favorites Games</label>
    <div class="col-sm-9" formArrayName="favoritesGames">
      <div
        class="mb-1"
        *ngFor="let favorite of favoritesGames.controls; let i = index"
      >
        <div class="input-group">
          <input class="form-control" [formControlName]="i" />

          <button class="btn btn-outline-danger" type="button">Delete</button>
        </div>
        <span
          class="form-text text-danger"
          *ngIf="isValidFieldInArray(favoritesGames, i)"
        >
          This field is required
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">
        <!-- [disabled]="myForm.invalid" -->
        Save
      </button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ "object" | json }}</pre>
<br />

<span>Value</span>
<pre>{{ "object" | json }}</pre>
<br />

<span>Agregar Juego</span>
<pre>{{ "object" | json }}</pre>
<pre>{{ "object" | json }}</pre>
