<h4>Listado</h4>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="
      let character of charactersList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    [ngClass]="{
      'list-group-item-success': isFirst,
      'list-group-item-danger': isLast,
    }"
  >
    <span class="text-primary">{{ i + 1 }}.</span>
    {{ character.name }} -
    <strong>Power: </strong>
    <span>{{ character.power }}</span>

    <span> ¿Soy el primero?: {{ isFirst }}</span>
    <span> ¿Soy el último?: {{ isLast }}</span>
    <span> ¿Soy par?: {{ isEven }}</span>
    <span> ¿Soy impar?: {{ isOdd }}</span>
  </li>
</ul>
